*.pydevproject
.metadata
.ccsproject
.project
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
Debug/
.loadpath
*~

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse

# CCSv3 Output folder
CCSv3/
CCSv3.zip

# Project Specific
ModbusDataMap*.h
